<!DOCTYPE html>
<html>
    <head>
      <% include ../partials/header.ejs %>
    </head>

    <body>

        <% include ../partials/nav.ejs %>

        <div class="container results">
            <h2>Database Results</h2>

            <ul>
                <% results.forEach(function(r) { %>
                    <li><%= r.value %> - <%= r.name %></li>
                <% }); %>
            </ul>

        </div>

    </body>
</html>
